@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #E02435;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #B51D2A;
}